
body {
    text-align: center;
    font: 'Source Sans Pro', sans-serif;

    width: 100%;
}

img {
    text-align: center;
}


#bcard {

    box-shadow: 5px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.bg-red {
    background: #0D0;
    color: #333;
}

.bg-dark {
    background-color: #333;
    color: #DDD;
}

.bg-red {
    background-color: #0D0;
    color: #333;
}

.bg-ora {
    background: rgba(230,130,0,0.75);
    color: #333;
}

.jumbotron.jumbo-shrink {
    padding-top: 15px;
    padding-bottom: 15px;
}

.jumbotron.jumbo-shrink h2 {
    margin-top: 10px;
}

a:link, a:visited {
    color: #444;
}

a:hover {
    color: #AAA;
}

.nlcr {
    margin-top: 30px;
}

.nlcr-border {
    margin-top: 30px;
    border-top: 1px solid rgba(230,230,230,0.4);
    margin-bottom: 30px;
}

.skill-table {

}

.skill-table table {

}


.skill-table th {
    text-align: center;
}


.panel-heading h3,
.panel-heading h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.skill-table div.panel-body,
#recent-work div.panel-body {
    background: #DDD;
}

#recent-work thead h3 {
    margin-bottom: 0;
}

#recent-work thead th {
    padding-left: 20px;
}

#recent-work table:first-of-type {
    margin-bottom: 10px;
}

#recent-work a,
#recent-work table {
    border-radius: 8px;
}

#recent-work a:hover {
    text-decoration: none;
}

#recent-work a:hover table.table-bordered th,
#recent-work a:hover table.table-bordered td  {
    background: rgba(255, 102, 0, 0.25);
    color: rgb(40, 40, 40);
    font-style: italic;
}

#recent-work td {
    text-align: left;
    padding-left: 35px;
}

.panel-ora .panel-heading {
    background: #DA6600;
    color: #FFF;
}

.panel-ora .panel-body {
    background: #FFF;
}

.panel-body table {
    margin: 0 0 0 0;
}

.panel-ora .panel-body table {
    background: #FFF;
}

.panel-body,
.panel-body h4,
.panel-body h5,
.panel-body h6 {
    color: #333;
}

.panel-ora .panel-heading h4 {
    text-align: left;
}

#nav-btns {
    background: #DDD;
    width: 100px;
}

#nav-btns button {
    width: 100px;
    border: none;
}

#info-panel .prof-pic {
    padding-left: 20px;
}

#info-panel .prof-pic .media-object {
    max-width: 300px;
}

#info-panel table {
    color: #333;
}

#info-panel tr td:first-child {
    width: 20%;
}

#info-panel div.row > div:first-child {
    border-right: 2px solid #DDD;
}

.panel-ora p {

    background: #FFF;
    color: #333;
    text-align: left;
}

#code-ex code {
    text-align: left;
    max-height: 500px;
    font-size: 12px;
}

p.code-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre-line;
}

.tab-pane {
    font-size: 14px;
}

.tab-pane ul li {
    text-align: left;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#code-ex .tab-content h4 {
    color: #333;
}

#code-ex div.panel {
    min-height: 800px;
}

#experience-desc p {
    white-space: pre-line;
}
#experience-desc {
    text-align: left;
}

#experience-desc h6 {
    text-align: left;
    color: #333;
    font-weight: normal;
}

div.h-bullets {

    padding-left: 50px;
    padding-right: 50px;
}

#resume-link h4 {
    font-style: italic;
    color: #FFF;
}

#resume-link .panel {
    border: none;
}

code.simple-code {
    white-space: pre;
    background: inherit;
}